body {
    font-family:'Segoe UI';
background-color: rgb(128, 236, 240);
color:black;}

nav {
    background-color: whitesmoke;padding: 10px;}

nav ul{
    list-style:none;
     margin:0;
     padding:0;
     display: flex;
     justify-content:center;}
nav li {
    margin: 015px;}

nav a {
    color:rgb(43, 38, 38);
    text-decoration: double;
    font-weight: bold;}

nav a:hover {
    color:rgb(40, 154, 230);}

h1 {text-align: center;
    padding: 20px;
     color:white;
font-size:xx-large;}

table {margin: auto;
    border:1px solid;
    width:80%;
    background-color:rgb(217, 242, 243);}

table,th,td {border: 1px solid:grey;
    padding:5px 2px;
    text-align: center;}

h2 { text-align: left ;
    border-style: solid;
    width: 700px;
    border-radius: 15px;
    padding: 10px;
    background: white;

     color:rgb(29, 6, 116)
     ;font-family:arial;
     font-size: x-large;
margin: auto;}

img {
    border-radius: 5px;
}

form {width: 60%;
    margin:auto;
    background:rgb(217,242,243);
    padding: 25px;
    border-radius: 10px;
    border:none;
    text-align: center;
}
input,textarea,button  {width: 100%;
padding: 8px;
margin: 5px 0;}
button {background-color: turquoise;color:rgb(58, 57, 57);border: none;cursor:pointer}
button:hover {background-color:whitesmoke;}
body {background-image: url("Img/playa-con-muelle-de-madera.jpg");
background-size: cover;}

.mb-0 {
    text-align: center;
    font-size:large;
    color:white;
    background: rgb(58, 57, 57);
    padding: 10px;
}

